spring:
  application:
    name: chaekmate-eureka

  lifecycle:
    timeout-per-shutdown-phase: 10s

server:
  shutdown: graceful

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

management:
  endpoints:
    web:
      exposure:
        include: health, info
